.order{
    background-color: white;
    color: #c71585;
}
.order:hover{
    background-color:#c71585;
    color: black;
}
.cone{
    width: 200px;
    height: 300px;
}
.pin{
    transition: all 3s;
}
.pin:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.malai{
    font-size: 50px;
}
.oreo{
    background-color: #c71585;
    width: 700px;
}
.pic{
    width: 400px;
    transition: all 3s;
}
.pic:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.cream{
    position: relative;
    bottom: 120px;
    font-size: 50px;
    transition: all 3s;
}
.cream:hover{
    transform: scale(1.2);
    text-shadow: 10px 10px 5px red ;
  cursor: pointer;
}
.choclate{
    width: 500px;
    height: 400px;
    transition: all 3s;
}
.choclate:hover{
    transform: scale(1.1);
}
.straw{
    width: 400px;
    height: 300px;
    transition: all 3s;
}
.straw:hover{
    transform: scale(1.2);
}
.btn{
    background-color: black;
    border: 1px solid red;
    transition: all 3s;
    color: red;
}
.btn:hover{
  transform: scale(1.2);
  background-color: #c7154a;
  border: none;
  color: white;
}
.ring{
    position: relative;
    top: -35px;
    left: 130px;
}
.icon{
    position: relative;
    top: 300px;
    left: -20px;
}
.special{
    position: relative;
    left: 600px;
    top: -550px;
}
.brand{
    font-size: 80px;
}
.page{
    font-size: 20px;
    transition: all 3s;
}
.page:hover{
    transform: scale(1.2);
    color: yellow;
}
.ban{
    font-size: 30px;
}
.price{
   position: relative;
   left: 250px;
}
.cat{
    position: relative;
    bottom: 25px;
}
.fan{
    transition: all 3s;
  color: white;
  font-weight: bold;
}
.fan:hover{
    transform: scale(1.1);
    background-color: transparent;
  color: #e6607d;
  border: #e6607d 2px solid;
  cursor: pointer;
}
.header{
    background-color:#ffc5d9;
    background-size: cover;
    height: 1100px;
}
.cash{
    border: 1px solid black;
}
.hero{
    color: #c71585;
    background-color: pink;
}
.berry{
    border: 1px solid black;
    position: relative;
    left: 10px;
}
.car{
    color: #c71585; 
    background-color:pink;
}
.cold:hover{
 color: black;
 border: 2px solid black;
}
.mango{
 font-size: 80px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.share{
    position: relative;
    left: 500px;
    top: 20px;
}
.cash1{
    border: 1px solid black;
}
.hero1{
    color: #c71585;
    background-color: palevioletred;
}
.berry1{
    border: 1px solid black;
}
.car1{
    color: #c71585; 
    background-color:palevioletred;
}
.iceland{
    background-image: url(apple.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.ras{
    transition: all 2s;
}
.ras:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: white;
    background-color: red;
}
.man{
    transition: all 3s;
}
.man:hover{
    transform: scale(1.1);
    background-color:yellow;
}
.logo{
    background-color: black;
}